{% trans_default_domain 'FOSUserBundle' %}
{% extends "::base.html.twig" %}

{% block body %}
	<div class="container">
		<div class="login-container">
			<p>Konto zostało założone poprawnie.</p>
			<p>Email został wysłany na adres podany w czasie rejestracji. Zawiera on link który należy kliknąć żeby aktywować konto.</p>
		</div>
	</div>
{% endblock body %}